a {
    color: #234ab5;
    text-decoration-line: underline;
    font-size: 12px;
}

.m-container img {
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
}

.m-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    margin: auto;
}

.m-container h5 {
    margin: 0;
}

/*  @media screen and (min-width: 481px) {
	481px以上に適用されるCSS（タブレット用）
}
*/
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    .m-container {
        width: 50%;
    }
}