/* トップページ */
.p-top {
    margin: 7.5%;
}

/* 最新ニュース */
.p-top__news {
    display: flow-root;
    margin-bottom: 10em;
}

.p-top__news-more {
    display: block;
    width: fit-content;
    margin: 1em 0 0 auto;
    color: #333333;
    text-decoration: underline;
}

.p-top__list {
    margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
    .p-top__projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gapを%で指定すると高さが認識されないので注意 */
        gap: 2.5em;
        padding: 5% 0;
    }
}

@media screen and (max-width: 768px) {
    .p-top__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 100px;
    }
}
